<div
  style="
    background-color: antiquewhite;
    color: black;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    text-align: center;
  "
>
  <p style="margin-top: 20px;">Contact us: <a href="https://flowcv.me/sachindevtech">My Portfolio</a> &nbsp;&nbsp; <span></span></p>
</div>
