<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>This is my Home Page.</h1>
      <hr />
      <h2>I am using Interpolation Syntax here:</h2>
      <h3><%= (5*10) + 50 %></h3>
      <hr />
      
      <p class="dummy-text">
        EJS: EJS or Embedded Javascript Templating is a templating engine used
        by Node.js. Template engine helps to create an HTML template with
        minimal code. Also, it can inject data into an HTML template on the
        client side and produce the final HTML. EJS is a simple templating
        language that is used to generate HTML markup with plain JavaScript. It
        also helps to embed JavaScript into HTML pages.
      </p>

      <button>Click Me</button>
    </div>
  </body>
</html>
