<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram template</title>
  </head>
  <body>
    <h1>Hello, I am creating insta page.</h1>
    <button>Follow</button>
    <button>Message</button>
    <h2>This account has: <%= data.name %></h2>

    <p>Followers: <%= data.followers %> </p>
    <p>Following: <%= data.following %> </p>

  </body>
</html>
